@import url('https://fonts.googleapis.com/css2?family=Dela+Gothic+One&family=Montserrat:wght@700&display=swap');


*{
padding: 0;
margin: 0;
box-sizing: border-box;
font-family: 'Dela Gothic One', cursive;
font-family: 'Montserrat', sans-serif;
text-decoration: none;
}

.banner{
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 100px;
    min-height: 100px;
    transition: 0.5s;
    background: white;


}
header{
    top :0;
    left: 0;
    width: 100%;
    display: flex;
    padding: 20px 100px;
    justify-content: space-between;
    align-items: center;
}

header .logo{
    text-decoration: none;
    color:lightsalmon;
    font-size: 2em;
    font-weight: 700;
    transition: 0.5s;
}

header .logo span{
    color:cadetblue;
    
}
header ul{
    display: flex;
    gap: 40px;
}

header ul li{
    list-style: none;
    font-weight: 500;
    font-size: 1.2em;
    color:coral;
    transition: 0.5s;
}

.content{
    position: relative;
    max-width: 1000px;
    left : 200px;

}
.content h1 p{
    font-size: 2em;
   color: #333; 
   transition: 0.5s;
   left : 40px;
   font-weight: 299;
}

.content h1 span{
    color: brown;
   margin: 10px 0px;
   transition: 0.01s;
   letter-spacing: 0.05em;
   font-size: 2em;
 
}

.content button{
    position: relative;
    background-color: chocolate;
    outline: none;
     border: none;
     padding: 15px 35px;
     font-size: 1.25em;
     letter-spacing: 0.05em;
     margin-left: 20pxd;
     border-radius: 10px;
     cursor: pointer;
     transition: 0.5s;
     font-weight: 600;
     top : 50px;
     right : 150px;
}
.content button.chat{
    background: transparent;
    color : #333;

}

.dayNight{
    position: absolute;
    bottom :25px;
    left: 50%;
    width: 60px;
    background-color:whitesmoke;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    transition: 0.5s;
    font-size: 2em;

}

.dayNight ion-icon:nth-child(2),.banner.night .dayNight ion-icon:nth-child(1){
    display: none;
}
   


.banner.night .dayNight ion-icon:nth-child(2){
    display: block;

}


.banner .night{
    background: #333;
}
.banner .night .dayNight{
    color: #fff;
    background: #444;
}

.banner.night header .logo,
.banner.night .content h1,
.banner.night .content p1,
.banner.night .content button.chat,
.banner.night header ul li a {
    color: #fff;
}

