@import url('https://fonts.googleapis.com/css2?family=Dela+Gothic+One&family=Montserrat:wght@700&display=swap');


*{
padding: 0;
margin: 0;
box-sizing: border-box;
font-family: 'Dela Gothic One', cursive;
font-family: 'Montserrat', sans-serif;
text-decoration: none;
}

.banner{
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 100px;
    min-height: 100px;
    transition: 0.5s;
    background: white;


}
header{
    top :0;
    left: 0;
    width: 100%;
    display: flex;
    padding: 20px 100px;
    justify-content: space-between;
    align-items: center;
}

header .logo{
    text-decoration: none;
    color:lightsalmon;
    font-size: 2em;
    font-weight: 700;
    transition: 0.5s;
}

header .logo span{
    color:cadetblue;
    
}
header ul{
    display: flex;
    gap: 40px;
}

header ul li{
    list-style: none;
    font-weight: 500;
    font-size: 1.2em;
    color:coral;
    transition: 0.5s;
}

.content{
    position: relative;
    max-width: 700px;

}
.content h1{
   font-size: 5.5em;
   color: #333; 
   transition: 0.5s;
}

.content h1 span{
    color: brown;
   margin: 10px 0px;
   transition: 0.01s;
   letter-spacing: 0.05em;
}

.content button{
    position: relative;
    background-color: chocolate;
    outline: none;
     border: none;
     padding: 15px 35px;
     font-size: 1.25em;
     letter-spacing: 0.05em;
     margin-left: 20pxd;
     border-radius: 10px;
     cursor: pointer;
     transition: 0.5s;
     font-weight: 600;
}
.content button.chat{
    background: transparent;
    color : #333;
    
}